@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}

h1,h2,h3{
	text-transform: uppercase;
	color: darkgreen;
}

.parrafo_home{
	background-color: white;
	text-align: center;
	width: 70%;
	height: auto;
	margin: 60px auto;
	padding: 10px 20px;
	border: double black;
	overflow-x: auto;
}

/*.logosrrss{
	width: 50px; height: 50px;
}*/

/*APLICA PARA TODOS LOS PÁRRAFOS (home, nosotros y servicios), POR AHORA...*/
.parrafo{
	text-align: left;
	width: 50%;
	height: auto;
	margin: 60px auto;
	padding: 10px 20px;
}

/* ----- PAGE NOSOTROS ----- */
.h1-page-nosotros{
	margin: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ----- PAGE SERVICIOS ----- */
.h1-page-servicios{
	margin: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.video-servicios{
	text-align: center;
}

.p-page-servicios{
	width: 80%;
	height: auto;
	margin: auto;
}

.lista_servicios{
	text-align: left;
}

.margin-servicios{
	margin-bottom: 30px;
}

/* ----- PAGE CLIENTES ----- */
.h1-page-clientes{
	margin: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.p-page-clientes{
	width: 80%;
	height: auto;
	margin: auto;
}

#clientes .galeria{
	margin: 20px;
	display: flex;
	justify-content: space-around;
}

	#clientes .galeria figure{
		text-align: center;
	}

		#clientes .galeria figure figcaption{
			color: darkgreen;
		}

.fig-clientes{
	font-weight: 900;
	color: darkgreen;
	margin-bottom: 15px;
}

.img-clientes{
	margin-bottom: 20px;
}

/* ----- PAGE CONTACTO ----- */
.h1-page-contacto{
	margin: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.p-page-contacto{
	width: 80%;
	height: auto;
	margin: auto;
}

.formulario_page_contacto{
	text-align: left;
	width: 50%;
	height: auto;
	margin: 60px auto;
	padding: 10px 20px;
	border: double; black;
	overflow-x: auto;
}

/* SASS */

.btn-base, .btn-visita {
  width: 100px;
  height: 30px;
  background-color: darkseagreen;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }
  .btn-base:hover, .btn-visita:hover {
    background-color: darkgreen;
    color: white; }

.btn-visita {
  border: black; }

h2, h3 {
  line-height: 1em; }

.bg-footer {
  background-color: whitesmoke; }
